<%= form_with(model: metric, local: true) do |form| %>
  <% if metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content_id %>
    <%= form.text_field :content_id, id: :metric_content_id %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :metric_code %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :metric_value %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day, id: :metric_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
